alembic==1.4.3
amqp==2.6.1
Flask==1.1.2
Flask-Admin==1.5.6
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
psycopg2-binary==2.8.6
pydantic==1.6.1
pynamodb==5.1.0
sqlalchemy < 1.4.0
SQLAlchemy-i18n==1.0.3
SQLAlchemy-Utils==0.36.8
Werkzeug==1.0.1
boto3==1.18.44
turfpy==0.0.7
geojson==2.5.0
marshmallow==3.13.0